<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h2>Liên hệ</h2>

<div class="card p-4 shadow">
  <p><b>Shop:</b> Accessory Shop</p>
  <p><b>Email:</b> shop@gmail.com</p>
  <p><b>SĐT:</b> 0123456789</p>
</div>

<%- include('layouts/footer') %>