<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="container">

<h1>Tạo bài viết</h1>

<form action="/blogposts/store" method="POST">
  <label>Tiêu đề</label>
  <input type="text" name="title">

  <label>Nội dung</label>
  <textarea name="body"></textarea>

  <button type="submit">Lưu</button>
</form>

<a href="/">← Trang chủ</a>

</div>
</body>
</html>