<link rel="stylesheet" href="/style.css">

<div class="container">
    <h1>Tạo bài</h1>
    <form method="POST">
        <input name="title" placeholder="Tiêu đề">
        <textarea name="content"></textarea>
        <button>Lưu</button>
    </form>
</div>